<div class="w-full flex justify-center items-center py-20 signup-form">
    <form class="flex flex-col border border-indigo-300 gap-8 rounded-md text-xl p-10" id="signup">
        <h1 class="text-3xl font-bold">Signup</h1>
        <div class="flex flex-col gap-4">
            <label for="username">Username</label>
            <input type="text" class="border-b-2 border-indigo-300 p-2" placeholder="Username" name="username"
                id="username">

        </div>
        <div class="flex flex-col gap-4">
            <label for="password">Password</label>
            <input type="password" class="border-b-2 border-indigo-300 p-2" placeholder="password" name="password"
                id="password">
        </div>
         <div class="flex flex-col gap-4">
            <label for="confirm">Confirm password</label>
            <input type="password" class="border-b-2 border-indigo-300 p-2" placeholder="Confirm password" name="confirm password"
                id="confirm">
        </div>
        <p class="text-center text-red-600" id="error"></p>
        <button class="w-full bg-indigo-400 text-white p-2">Signup</button>

    </form>
</div>
